.backgroundBlue{
    background-color: hsl(228, 45%, 44%);
}
.backgroundWhite{
    background-color: white;
}

body{
    background-image: url(./images/bg-top.svg),url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-position: right, left bottom;
    font-family: Montserrat;
}
.dollar{
    font-size: 40px;
}
.container {
  display: flex;
  align-items: center;
}
.label {
    margin-right: 10px;
}
.toggle {
    appearance: none;
    cursor: pointer;
    width: 50px;
    height: 26px;
    background-color: hsl(228, 45%, 44%);
    border-radius: 13px;
    position: relative;
}
.toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: white;
    transition: transform 0.2s;
}

.toggle:checked::before {
   transform: translateX(24px);
}
.mainHeading{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh;
    color: hsl(228, 70%, 74%);
}
.heading{
    padding-bottom: 1em;
    font-size: 35px;
}

.plans{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}
.main-group{
    border-radius: 1em;
    padding: 10vh 5vh;
    font-size:15px;
    color: aliceblue;
}
.side-group{
    border-radius: 1em;
    padding: 6vh 5vh;
    font-size:15px;
    color: hsl(227, 29%, 24%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.pricing{
    display: flex;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.pricingValue{
    font-style:bold;
    font-size:55px;
}
.roundBorder{
    padding: 0.8em 3em;
    border-radius: 0.5em;
}

.grow{
    padding-top: 2vh;
}

.plans button:hover{
    background-color: hsl(228, 70%, 74%);
    cursor: pointer;
}

.changeColor{
    color: hsl(228, 93%, 58%);
}
